<div id="junk-left-sidebar" class="span-2">
	<br />
</div>


<div id="junk-main-content" class="span-12">

<%= form_tag update_masteries_path, :method => :put do %>

<table>
  <tr>
    <th>crop</th>
    <th>stars</th>
    <th>additional</th>
    <th>L1</th>
    <th>L2</th>
    <th>L3</th>
  </tr>

  <% for mastery in @masteries %>
    <%= fields_for "masteries[]", mastery do |f| %>

  <% if mastery.errors.any? %>
  <div id="errorExplanation">
    <h2>The following errors prohibited your update from being saved:</h2>
    <ul>
    <%= mastery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end # errors? %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	  <td><%= f.label mastery.crop.name %></td>
	  <td><%= f.text_field :stars, :size => 3 %></td>
	  <td><%= f.text_field :additional_harvests, :size => 3 %></td>
	  <td><%= mastery.crop.mastery_1 %></td>
      <td><%= mastery.crop.mastery_2 %></td>
      <td><%= mastery.crop.mastery_3 %></td>
  </tr>

  <% end # fields_for masteries %>
  <% end # masteries %>
</table>

  <p>
	<%= submit_tag "update", :name => "update"%>
	<%= submit_tag "cancel", :name => "cancel" %>
  </p>
<% end # form_tag%>

</div>