<hr />
Welcome to your farm, affectionately known as
<h3><%= @farm.name %></h3>
<b>plots:</b> <%= @farm.plots %><br />
<b>harvests per day:</b> <%= @farm.harvests_per_day %>
<p />
<hr />

<p /><p />
	<%= link_to("edit masteries", edit_masteries_path) %>
	(<%= @farm.masteries.where("stars = 1").count %>)
<h3>masteries</h3>

<div id="junk-left-sidebar" class="span-2">
	<br />
</div>

<div id="junk-main-content" class="span-16">
	<table>
	  <tr>
	    <th>name</th>
	    <th>stars</th>
	    <th>left</th>
	    <th>hours</th>
	  </tr>

	<% @farm.masteries.where("stars = 1").order("stars ASC").sort_by(&:h_time).each do |mastery| %>
	  <tr class="<%=
	      if mastery.crop.harvest_time >= 10
	        cycle('list_line_odd', 'list_line_even')
	      else
		    cycle('hone_line_odd', 'hone_line_even')
		  end
	  %>">
	    <td><%= mastery.crop.name %></td>
	    <td align="right"><%= mastery.stars %></td>
		<td align="right"><%= mastery.remaining_harvests %></td>
		<td align="right"><%= mastery.crop.harvest_time %></td>
	  </tr>

	<% end %>
	</table>

</div>


