<hr />
Welcome to your farm, affectionately known as
<h3><%= @farm.name %></h3>
<b>plots:</b> <%= @farm.plots %><br />
<b>harvests per day:</b> <%= @farm.harvests_per_day %>
<p />
<hr />

<p /><p />
	<%= link_to("edit masteries", edit_masteries_path) %>
<h3>masteries</h3>

<div id="junk-left-sidebar" class="span-2">
	<br />
</div>

<div id="junk-main-content" class="span-10">

	<table>
	    <th>name</th>
	    <th>stars</th>
	    <th>additional</th>
	  </tr>

	<% @farm.masteries.each do |mastery| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	    <td><%= mastery.crop.name %></td>
	    <td align="right"><%= mastery.stars %></td>
	    <td align="right"><%= mastery.additional_harvests %></td>
	  </tr>
	<% end %>
	</table>

</div>


