<hr />
Welcome to your farm, affectionately known as
<h3><%= @farm.name %></h3>
<b>plots:</b> <%= @farm.plots %><br />
<b>harvests per day:</b> <%= @farm.harvests_per_day %>
<p />
<hr />

<p /><p />
	<%= link_to("edit masteries", edit_masteries_path) %>
	current levels:
<span style="font-family:monospace;font-weight:bold;">
	- (<%= @farm.masteries.where("stars = 0").count %>)
	* (<%= @farm.masteries.where("stars = 1").count %>)
	** (<%= @farm.masteries.where("stars = 2").count %>)
	*** (<%= @farm.masteries.where("stars = 3").count %>)
</span>
<h3>masteries</h3>

<div id="junk-left-sidebar" class="span-2">
	<br />
</div>

<div id="junk-main-content" class="span-16">
	<table>
	  <tr>
	    <th>crop</th>
	    <th>stars</th>
	    <th>additional</th>
	    <th>hours</th>
	  </tr>

	<% @farm.masteries.each do |mastery| %>
	  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	    <td><%= mastery.crop.name %></td>
	    <td align="right"><%= mastery.stars %></td>
		<td align="right"><%= mastery.additional_harvests %></td>
		<td align="right"><%= mastery.crop.harvest_time %></td>
	  </tr>

	<% end %>
	</table>

</div>


