<div class="container">

	<div id="junk-header" class="span-24 last">
		<br />
		<h2>crops</h2>
	</div>

	<div id="junk-left-sidebar" class="span-2">
		<br />
	</div>

	<div id="junk-main-content" class="span-10">
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Level</th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @crops.each do |crop| %>
		  <tr style="background-color:<%= cycle("#f0f4fe", "#e0e4fe") -%>">
		    <td><%= crop.name %></td>
		    <td><%= crop.level %></td>
		    <td><%= link_to 'Show', crop %></td>
		    <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
		  </tr>
		<% end %>
		</table>
	</div>

	<div id="junk-right-sidebar" class="span-12 last">
		<br />
	</div>	

	<div id="junk-footer" class="span-24 last">
		<br />
	</div>

</div>
