<h1>Listing crops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crops.each do |crop| %>
  <tr>
    <td><%= crop.name %></td>
    <td><%= crop.level %></td>
    <td><%= link_to 'Show', crop %></td>
    <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
    <td><%= link_to 'Destroy', crop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crop', new_crop_path %>
