<!DOCTYPE html>
<html>
<head>
  <title>Kimball -- Farmville crop mastery</title>

  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection "%>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection "%>
  <![endif]-->

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<% unless notice.blank? %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% unless alert.blank? %>
    	<p class="alert"><%= alert %></p>
	<% end %>

	<p style="font-size:175%;padding:.8em;margin-bottom:0px;border:3px solid #ddd; border-color:#90b0e5;background-color:#a1c0F6;">
		Kimball
	</p>

	<div class="container">
		<ul class="hmenu">
	  		<%= render 'devise/menu/registration_items' %>
	  		<%= render 'devise/menu/login_items' %>
		</ul>
		<%= yield %>
	</div>
</body>
</html>
